@media only screen and (min-width:1000px) {
    .width-more-than-1000px {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .width-less-than-1000px {
        display: none !important;
    }
}

@media only screen and (max-width:1000px) {
    .width-more-than-1000px {
        display: none;
    }

    .width-less-than-1000px {
        display: block;
    }
}